public-hoist-pattern[]=*prisma*
strict-peer-dependencies=false
auto-install-peers=true
//npm.pkg.github.com/:_authToken=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
@gall3ry:registry=https://npm.pkg.github.com
